<!-- on folders page/ index  -->

<!-- rajouter les links  -->
<div class="listlink">
  <section class="post">
      <h2 class="post-title"><a href="/links/new?folder_id=<%= @folder.id %>">add a URL</a></h2>
      <h2 class="post-title">Shared between <% @folder.users.each do |user| %>
      <%=user.username%>
      <%end%></h2>
      <div class="friend-form">
      <form method="post" action="/folders/<%= @folder.id %>">
          <div class="friend">
            <select name="user_id" class="friend-select">
              <% @allUsers.each do |user| %>
                <option type="hidden" value="<%=user.username%>"></option>
                <option value="<%=user.id%>"><%= user.username %></option>
              <% end %>
            </select>
           <input type="submit" value="share with">
           </div>
        </form>
      </div>
  </section>
  <h1 class="content-subhead">All the Links</h1>
  <% @folder.links.each do |link| %>
    <div class="post">
      <section class="post">
        <header class="post-header">
          <h2 class="post-title">Link Title</h2>
          <p class="link">Link description</p>
          <p class="link"><%= link.url %></p>
        </header>
      </section>
    </div>
  <% end %> 
</div>


    

