<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= css :application %>
  <%= js :application %>
</head>
<body>
    <div class="navbar">
        <div class="hello">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" href="">Peek</a>

                <ul class="pure-menu-list">
                    <% if is_logged_in? %>
                    <li class="pure-menu-item"><a href="/users/<%=current_user.id %>" class="pure-menu-link"><%= @current_user.username %>'s Folders</a></li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="/users/<%=current_user.id %>" id="menuLink1" class="pure-menu-link"><%= @current_user.username %></a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item"><a href="/users/<%=current_user.id %>/edit" class="pure-menu-link">Edit the profile</a></li>
                                    <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
                                </ul>
                            </li>
                          </ul>
                          <header 
                          <% if @folder %> 
                            style="background-color: <% if @folder.id %><%= colors[@folder.id % 15]%>"<% else %>"red"<% end %>
                          <%end%> >
                              <div class="thumbnailbig" style="background-image: url(<%= @current_user.profile_pic %>); background-size: cover;">
                                </div>
                          </header>
                    <% else %>
                   <ul class="pure-menu-list">
                      <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
  <main>
    <%= yield %>
  </main>
</body>
</html>          